<!-- Footer -->
<footer class="bg-indigo-600 text-white py-8">
  <div class="text-gray-200 text-sm text-center md:text-right">
    &copy; 2025 SmartAttendance. All rights reserved.
  </div>

</footer>
